@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  background-color: var(--color-white);

  &__logo {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: var(--fs-lg);
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
  }

  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &__item {
      margin: 2rem;
      font-weight: 600 !important;
      font-size: var(--fs-md);
      text-transform: uppercase;
      color: var(--color-text);
      font-family: var(--font-sans);
      text-decoration: none;
    }
  }
}
