@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 1rem 4rem;
  z-index: 1000;

  &__bg {
    background-color: transparent;
  }

  &__logo {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: var(--fs-lg);
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    width: 60%;
    margin: 0 2rem;
    transition: all 0.3s ease-in-out;

    &__bg {
      color: var(--color-white);
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    &__item {
      margin: 2rem;
      font-weight: 600 !important;
      font-size: var(--fs-md);
      text-transform: uppercase;
      color: var(--color-text);
      font-family: var(--font-sans);
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &__bg {
        color: var(--color-white);
      }
    }

    &__btn {
      background-color: transparent;
      color: var(--color-text);
      border: 0;
      display: none;

      &__bg {
        color: var(--color-white);
      }
    }
  }
}

@media (width <768px) {
  .header {
    padding: 0;

    &__navbar {
      &__item {
        display: none;
      }
      &__btn {
        display: block;
      }
    }
  }
}
