@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Jost, sans-serif;
  /* Normalize Rem */
  font-size: 62.5%;

  /* Font */
  --font-sans: 'Jost', sans-serif;
  --font-banner: 'Montserrat', sans-serif;

  /* Color */
  --color-text: #000;
  --color-subtext: #515050;
  --color-btn: #EA4C44;
  --color-btn-hover: #000;
  --color-btn-text: #fff;
  --color-grey: #7B7B7B;
  --color-background: #191a1d;
  --color-background-light: #fbf8f6;

  --color-black: #000;
  --color-white: #fff;
  --color-red: #EA4C44;

  /* Font size */
  --fs-xs: 1.3rem;
  --fs-sm: 1.5rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.3rem;
  --fs-xl: 2.8rem;
  --fs-heading: 3.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-size: 1.6rem;
  color: var(--color-text);
}

/* Button */
.btn,
.btn1 {
  background-color: var(--color-btn);
  border: 1px solid var(--color-btn);
  color: var(--color-btn-text);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--fs-sm);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--color-btn-hover);
  border: 1px solid var(--color-btn-hover);
  color: var(--color-btn-text);
}

.btn1:hover {
  background-color: transparent;
  border: 1px solid var(--color-btn-hover);
  color: var(--color-btn-hover);
}

/* End button */

/* Tag */
.tag {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: var(--fs-xs);
}

.tagBlack {
  background-color: var(--color-black);
  color: var(--color-white);
}

.tagRed {
  background-color: var(--color-red);
  color: var(--color-white);
}

/* End Tag */