@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Normalize Rem */
  font-size: 62.5%;

  /* Font */
  --font-sans: "Jost", sans-serif;
  --font-banner: "Montserrat", sans-serif;

  /* Color */
  --color-text: #000;
  --color-text-white: #fff;
  --color-subtext: #515050;
  --color-btn: #ea4c44;
  --color-btn-hover: #000;
  --color-btn-text: #fff;
  --color-gray: #7b7b7b;
  --color-background: #191a1d;
  --color-background-light: #fbf8f6;

  --color-black: #000;
  --color-white: #fff;
  --color-red: #ea4c44;

  /* Font size */
  --fs-xs: 1.3rem;
  --fs-sm: 1.5rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.5rem;
  --fs-xl: 3rem;
  --fs-xxl: 4rem;
  --fs-title: 6rem;
  --fs-burger: 15rem;
}

::selection {
  background-color: var(--color-red);
  color: var(--color-text-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: var(--color-text);
  margin: 0;
}

/* Button */
.button {
  // define df
  display: flex;
  align-items: center;

  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: var(--fs-sm);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;

  &__price {
    background-color: var(--color-btn);
    border: 1px solid var(--color-btn);
    color: var(--color-btn-text);
    padding: 0 1rem;
    font-weight: 700;
    font-size: var(--fs-md);
  }

  &__red {
    background-color: var(--color-btn);
    border: 1px solid var(--color-btn);
    color: var(--color-btn-text);

    &:hover {
      background-color: var(--color-btn-hover);
      border: 1px solid var(--color-btn-hover);
      color: var(--color-btn-text);
    }
  }

  &__black {
    @extend .button;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-red);
      border: 1px solid var(--color-red);
    }
  }

  &__trans__red {
    background-color: var(--color-btn);
    border: 1px solid var(--color-btn);
    color: var(--color-btn-text);

    &:hover {
      background-color: transparent;
      border: 1px solid var(--color-btn-hover);
      color: var(--color-btn-hover);
    }
  }

  &__trans {
    background: transparent;
    border: 1px solid var(--color-btn-text);
    color: var(--color-btn-text);
    padding: 1rem 4rem;
    font-size: var(--fs-md);
  }
}
/* End button */

/* Tag */
.tag {
  padding: 0 1rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--fs-xs);
  width: fit-content;

  &__black {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  &__red {
    background-color: var(--color-red);
    color: var(--color-white);
  }
  &__banner {
    background-color: var(--color-red);
    border-radius: 0.8rem;
    color: var(--color-white);
    font-size: var(--fs-md);
  }
}
/* End Tag */

/* Add to cart */
.cart {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  font-size: var(--fs-sm);
  text-decoration: none;
  font-weight: 700;
  color: var(--color-text);

  &__icon {
    margin-right: 1rem;
  }
}
/* HTML
<a href="#" className="cart">
  <AddIcon className="cart__icon" />
  <span>Add to cart</span>
</a> 
*/

/* End add to cart */
